IO_LOC  "cor" 38;
IO_PORT "cor" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "data[3]" 82;
IO_PORT "data[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "data[2]" 83;
IO_PORT "data[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "data[1]" 84;
IO_PORT "data[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "data[0]" 85;
IO_PORT "data[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "csn" 86;
IO_PORT "csn" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18;

IO_LOC  "reset_n" 4;
IO_PORT "reset_n" IO_TYPE=LVCMOS18;
